<!DOCTYPE html>
<html>

<head>
    <title>Add Ans Key</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
        function select_topic($val) {
            var arr = {{ topic| safe
        }};
        var options = '';
        for (var i = 0; i < arr[$val].length; i++)
            options += '<option value=' + arr[$val][i].id + '>' + arr[$val][i].name + '(' + arr[$val][i].id + ')' + '</option>'
        $('#topic').html(options);
            }
        (function ($) {
            $(document).ready(function () {
                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });
            });
        })(jQuery);


    </script>



    <script language="JavaScript">
        function maximizeme() {
            window.moveTo(0, 0);
            window.resizeTo(screen.width, screen.height)
        }
    </script>
</head>

<body onload="maximizeme()">
    <div id="addProductBox" class="mainbox col-md-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Add a Ans Key</div>
            </div>
            <div class="panel-body">
                {% if data.error %}
                <div class="alert alert-danger">
                    <center>{{data.error}}</center>
                </div>
                {% endif %}
                {% if data.success %}
                <div class="alert alert-success">
                    <center>{{data.success}}</center>
                </div>
                {% endif %}
                <form class="form-horizontal" id="plain" method='POST' action="/question/addQuestion">
                    {% csrf_token %}
                    <div id="div_id_optC" class="form-group required">
                        <legend for="id_optC" class="control-label col-md-4  requiredField"> Correct Option for qID 
                        </legend>
                        <div class="controls col-md-8 ">
                            <select class="input-md optCinput form-control" id="id_optC" name="optC{{varLoop}}"
                                selected="<%= body.optC %>">
                                <option value="" disabled selected>Select Correct Option</option>
                                <option value="opt1">Option 1</option>
                                <option value="opt2">Option 2</option>
                                <option value="opt3">Option 3</option>
                                <option value="opt4">Option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="aab controls col-md-4 "></div>
                        <div class="controls col-md-8 ">
                            <input type="submit" name="addTopic" value="Add Topic" class="btn btn-primary btn btn-info"
                                id="submit-id-addTopic" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>





</body>

</html>