<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TheProficiency | Add Coupon</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "../includes/top.html" %}

</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {% include "../includes/navBar.html" %}
        {% include "../includes/mainSlider.html" %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            {% if data.error %}
                            <div class="alert alert-danger">
                                <center>{{data.error}}</center>
                            </div>
                            {% endif %}
                            {% if data.success %}
                            <div class="alert alert-success">
                                <center>{{data.success}}</center>
                            </div>
                            {% endif %}
                            {% if data.info %}
                            <div class="alert alert-info">
                                <center>{{data.info}}</center>
                            </div>
                            {% endif %}
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Add Coupon</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form action="/exams/addCoupon" class="form-horizontal" method='POST'>
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Coupon Code</label>
                                            <input type="text" class="form-control" name="name" value="{{data.name}}"
                                                placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">SP %</label>
                                            <input type="number" class="form-control" name="sp" value="{{data.sp}}"
                                                placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Minimum Rs.</label>
                                            <input type="number" class="form-control" name="min" value="{{data.min}}"
                                                placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Select Ranks Range</label>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Min</label>
                                                        <input class="form-control" type="number" name="rmin"
                                                            placeholder="0"
                                                            min='1'
                                                            max="{{count}}"
                                                            value="{{data.rmin}}">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Max</label>
                                                        <input class="form-control" type="number"
                                                            name="rmax"
                                                            placeholder="10"
                                                            min='1'
                                                            max="{{count}}"
                                                            value="{{data.rmax}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Expiry Date</label>
                                            <input type="date" class="form-control" name="date" value="{{data.date}}"
                                                placeholder="">
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Add Coupon</button>
                                        </div>
                                </form>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

    </div>
    <!-- ./wrapper -->
    {% include "../includes/bottom.html" %}
</body>

</html>