<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TheProficiency | Add Daily Exam</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "../includes/top.html" %}

</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {% include "../includes/navBar.html" %}
        {% include "../includes/mainSlider.html" %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            {% if error %}
                            <div class="alert alert-danger">
                                <center>{{error}}</center>
                            </div>
                            {% endif %}
                            {% if success %}
                            <div class="alert alert-success">
                                <center>{{success}}</center>
                            </div>
                            {% endif %}
                            {% if info %}
                            <div class="alert alert-info">
                                <center>{{info}}</center>
                            </div>
                            {% endif %}
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Add Daily Exam</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form action="/exams/addDaily" class="form-horizontal" method='POST'>
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Daily Exam Date</label>
                                            <input type="date" class="form-control" name="date" value="{{name}}"
                                                placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Daily Exam Time</label>
                                            <input type="time" class="form-control" name="time" value="{{dis}}"
                                                placeholder="">
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Add Daily</button>
                                        </div>
                                </form>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

    </div>
    <!-- ./wrapper -->
    {% include "../includes/bottom.html" %}
</body>

</html>