{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>View NLE Exam Timings</title>


    {% include "../includes/top.html" %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    {% include "../includes/mainSlider.html" %}
    {% include "../includes/navBar.html" %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">View NLE Exam Timings</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Percentile</th>
                                        <th>Rank</th>
                                        
                                    </tr>
                                </thead>

                                <tbody>

                                    {% if data %}
                                    {% for i in data  %}
                                    <tr>
                                        <td>{{i.id}}</td>
                                        <td>{{i.name}}</td>
                                        <td>{{i.phone}}</td>
                                        <td>{{i.percentile}}</td>
                                        <td>{{i.rank}}</td>

                                        
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Percentile</th>
                                        <th>Rank</th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>
            </div>
        </section>
    </div>
    {% include "../includes/bottom.html" %}
</body>

</html>