{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>View NLE Questions</title>


    {% include "../includes/top.html" %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    {% include "../includes/mainSlider.html" %}
    {% include "../includes/navBar.html" %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">View NLE Questions</h3>
                        </div>
                        <!-- /.card-header -->
                        {% for i in mainly  %}
                        <div class="card card-primary collapsed-card">
                            <div class="card-header">
                                <h3 class="card-title">{{i.name}} ({{i.id}})</h3>
                                <div class="card-tools">
                                    <a href="/exams/addAnsKey?nle={{nle}}&mid={{i.id}}">
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Add Answer Key</button>
                                    </div>
                                    </a>
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                            class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Question ID</th>
                                            <th>Answer</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for data in i.question  %}
                                        <tr>
                                            <td>{{data.id}}</td>
                                            <td>{{data.ans}}</td>
                                            <td>
                                            <a href='/editTeacher/<%= data[i].tId%>'> <button type="button"
                                                    class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                                </button>
                                            </a>
                                        </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Question ID</th>
                                            <th>Answer</th>
                                            <th>Edit</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        {% endfor %}
                        <!-- /.card-body -->
                    </div>

                </div>
            </div>
        </section>
    </div>

    {% include "../includes/bottom.html" %}
</body>

</html>