<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TheProficiency | View Student Exam Vise</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    function select_mainly($val) {
        
        if($val == "NLE"){
            var arr={{NLE|safe}};
            var options = '';
            for(var i=0;i<arr.length;i++){
                var abc=arr[i].split("-");
                options+='<option value=' +  abc[2]+abc[1]+abc[0] + '>'+arr[i] + '</option>'
            }
                $('#mainly').html(options);
        }
        else{
            var arr={{daily|safe}};
            var options = '';
            for(var i=0;i<arr.length;i++){
                var abc=arr[i].split("-");
                options+='<option value=' +  abc[2]+abc[1]+abc[0] + '>'+arr[i] + '</option>'
            }
                $('#mainly').html(options);
            }
        }
    </script>
    {% include "../includes/top.html" %}

</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {% include "../includes/navBar.html" %}
        {% include "../includes/mainSlider.html" %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            {% if error %}
                            <div class="alert alert-danger">
                                <center>{{error}}</center>
                            </div>
                            {% endif %}
                            {% if success %}
                            <div class="alert alert-success">
                                <center>{{success}}</center>
                            </div>
                            {% endif %}
                            {% if info %}
                            <div class="alert alert-info">
                                <center>{{info}}</center>
                            </div>
                            {% endif %}
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">View Student</h3>
                                </div>
                                <!-- /.card-header -->



                                <!-- form start -->
                                <form  class="form-horizontal" method='POST'>
                                    {% csrf_token %}
                                    <div class="card-body">
                                        
                                        <div class="form-group">
                                            <label>Exam Type</label>
                                            <select class="form-control" name="exam" style="width: 100%;" onchange="select_mainly(this.value)">
                                                <option selected disabled>Select Exam Type</option>
                                                <option value="NLE">NLE</option>
                                                <option value="daily">Daily Exam</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Mainly</label>
                                            <select class="form-control" id="mainly" name="date">
                                            <option value="" disabled selected>Select Date</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Mainly</label>
                                            <select class="form-control" id="mainly" name="mainly">
                                            <option value="" disabled selected>Select Mainly</option>
                                            {% for i in mainly %}
                                            <option value="{{i}}" >{{i}}</option>

                                            {% endfor %}
                                            </select>
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer">
                                            <button type="submit"  class="btn btn-primary">View Student</button>
                                        </div>
                                </form>



                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
                
            </section>
            <!-- /.content -->

        </div>
    </div>
    
    <!-- ./wrapper -->
    {% include "../includes/bottom.html" %}
</body>

</html>