{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>View Referral Code</title>


    {% include "../includes/top.html" %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    {% include "../includes/mainSlider.html" %}
    {% include "../includes/navBar.html" %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">View Referral Code</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            
                            <table id="example1" class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Code</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Type A</td>
                                        <td>{{code.typea}}</td>
                                    </tr>
                                    <tr>
                                        <td>Type B</td>
                                        <td>{{code.typeb}}</td>
                                    </tr>
                                    <tr>
                                        <td>Type C</td>
                                        <td>{{code.typec}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Type</th>
                                        <th>Code</th>
                                        
                                    </tr>
                                </tfoot>
                            </table>
                            <table id="example1" class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Earn</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for data in typeatrnc  %}
                                    <tr>
                                        <td>{{data.trnc}}</td>
                                        <td>{{data.earn}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Type</th>
                                        <th>Code</th>
                                        
                                    </tr>
                                </tfoot>
                            </table>
                            <table id="example1" class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Earn</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for data in typebtrnc  %}
                                    <tr>
                                        <td>{{data.trnc}}</td>
                                        <td>{{data.earn}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Type</th>
                                        <th>Code</th>
                                        
                                    </tr>
                                </tfoot>
                            </table>
                            <table id="example1" class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Earn</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for data in typectrnc  %}
                                    <tr>
                                        <td>{{data.trnc}}</td>
                                        <td>{{data.earn}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Type</th>
                                        <th>Code</th>
                                        
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>
            </div>
        </section>
    </div>
    {% include "../includes/bottom.html" %}
</body>

</html>