<!DOCTYPE html>
<html>

<head>
    <title>Edit Question</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });
            });
        })(jQuery);
    </script>
</head>

<body onload="maximizeme()">
    <div id="addProductBox" class="mainbox col-md-5">

        <div class="form-group">
            <div class="aab controls col-md-4 "></div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">save changes</div>
            </div>
            <div class="panel-body">
                {% if error %}
                <div class="alert alert-danger">
                    <center>{{error}}</center>
                </div>
                {% endif %}
                {% if success %}
                <div class="alert alert-success">
                    <center>{{success}}</center>
                </div>
                {% endif %}
                <div class="controls col-md-12 ">
                    <a onclick="window.open('http:\/\/visualmatheditor.equatheque.net/VisualMathEditor.html?runLocal&codeType=Latex&encloseAllFormula=false&style=aguas&localType=en_US', 'newwindow1', 'top=0, left='+(screen.width)/2+', width='+(screen.width)/2+', height='+screen.height); return false;">
                        <center>
                            <button class="btn btn-success navbar-btn ">
                                <span class="fas fa-sign-out-alt"></span>
                                Open Editor</button>
                        </center>
                    </a>
                </div>
                <form class="form-horizontal" id="plain" method='POST'>
                    {% csrf_token %}
                    <div id="div_id_ques" class="form-group required">
                        <legend for="id_ques" class="control-label col-md-4  requiredField"> Question
                        </legend>
                        <div class="controls col-md-8 ">
                            <input class="input-md  textinput textInput form-control" id="id_ques" name="ques"
                                value="{{data.question}}" placeholder="eg. 12th" type="text" />
                        </div>
                    </div>
                    <div id="div_id_opt1" class="form-group required">
                        <legend for="id_opt1" class="control-label col-md-4  requiredField"> Option 1
                        </legend>
                        <div class="controls col-md-8 ">
                            <input class="input-md opt1input form-control" id="id_opt1" name="opt1"
                                value="{{data.opt1}}" placeholder="eg. 12th Class is basic" type="text" />
                        </div>
                    </div>
                    <div id="div_id_opt2" class="form-group required">
                        <legend for="id_opt2" class="control-label col-md-4  requiredField"> Option 2
                        </legend>
                        <div class="controls col-md-8 ">
                            <input class="input-md opt2input form-control" id="id_opt2" name="opt2"
                                value="{{data.opt2}}" placeholder="eg. 12th Class is basic" type="text" />
                        </div>
                    </div>
                    <div id="div_id_opt3" class="form-group required">
                        <legend for="id_opt3" class="control-label col-md-4  requiredField"> Option 3
                        </legend>
                        <div class="controls col-md-8 ">
                            <input class="input-md opt3input form-control" id="id_opt3" name="opt3"
                                placeholder="eg. 12th Class is basic" value="{{data.opt3}}" type="text" />
                        </div>
                    </div>
                    <div id="div_id_opt4" class="form-group required">
                        <legend for="id_opt4" class="control-label col-md-4  requiredField"> Option 4
                        </legend>
                        <div class="controls col-md-8 ">
                            <input class="input-md opt4input form-control" id="id_opt4" name="opt4"
                                placeholder="eg. 12th Class is basic" type="text" value="{{data.opt4}}">
                        </div>
                    </div>

                    <div id="div_id_optC" class="form-group required">
                        <legend for="id_optC" class="control-label col-md-4  requiredField"> Correct Option
                        </legend>
                        <div class="controls col-md-8 ">
                            <select class="input-md optCinput form-control" id="id_optC" name="optC"
                                selected="<%= body.optC %>">
                                <option value="" disabled>Select Correct Option</option>
                                {% if data.optC == 'opt1' %}
                                <option value="opt1" selected>Option 1</option>
                                {% else %}
                                <option value="opt1">Option 1</option>
                                {% endif %}
                                {% if data.optC == 'opt2' %}
                                <option value="opt2" selected>Option 2</option>
                                {% else %}
                                <option value="opt2">Option 2</option>
                                {% endif %}
                                {% if data.optC == 'opt3' %}
                                <option value="opt3" selected>Option 3</option>
                                {% else %}
                                <option value="opt3">Option 3</option>
                                {% endif %}
                                {% if data.optC == 'opt4' %}
                                <option value="opt4" selected>Option 4</option>
                                {% else %}
                                <option value="opt4">Option 4</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div id="div_id_teacher" class="form-group required">
                        <legend for="id_teacher" class="control-label col-md-4  requiredField"> Teacher
                        </legend>
                        <div class="controls col-md-8 ">
                            <select class="input-md teacherinput form-control" id="id_teacher" name="teacher"
                                selected="<%= body.teacher %>" disabled>
                               
                                <option value="{{data.by}}" >{{tname}}({{data.by}})</option>
                                
                            </select>
                        </div>
                    </div>
                    <div id="div_id_subject" class="form-group required">
                        <legend for="id_subject" class="control-label col-md-4  requiredField"> Subject
                        </legend>
                        <div class="controls col-md-8 ">
                            <select class="input-md subjectinput form-control" id="id_subject" name="subject" disabled>
                                <option value="{{sid}}">{{sname}}({{sid}})</option>

                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="result" value="{{subject}}">
                    <div id="div_id_topic" class="form-group required">
                        <legend for="id_topic" class="control-label col-md-4  requiredField"> Topic
                        </legend>
                        <div class="controls col-md-8 ">
                            <select class="input-md subjectinput form-control" id="topic" name="topic" disabled>

                                <option value="" disabled selected>{{topic}}({{data.topic}})</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="aab controls col-md-4 "></div>
                        <div class="controls col-md-8 ">
                            <input type="submit" name="addTopic" value="Add Topic" class="btn btn-primary btn btn-info"
                                id="submit-id-addTopic" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if question %}
                                  
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">Question</dt>
            <dd class="col-sm-8">{{question}}</dd>
            <dt class="col-sm-4">opt1</dt>
            <dd class="col-sm-8">{{opt1}} </dd>
            <dt class="col-sm-4">opt2</dt>
            <dd class="col-sm-8">{{opt2}}</dd>
            <dt class="col-sm-4">opt3</dt>
            <dd class="col-sm-8">{{opt3}}</dd>
            <dt class="col-sm-4">opt4</dt>
            <dd class="col-sm-8">{{opt4}} </dd>
            <dt class="col-sm-4">optc</dt>
            <dd class="col-sm-8">{{optC}} </dd>
            {% endif %}




</body>

</html>