{{data.by}} <br>
{{data.discription}}<br>
{{data.time}}<br>
{{data.title}}<br>
{{data.to}}<br>
{% for i  in data.ids  %}
{{i}}<br>
{% endfor %}<br>



{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>See Notification</title>


    {% include "../includes/top.html" %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    {% include "../includes/mainSlider.html" %}
    {% include "../includes/navBar.html" %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-copy"></i>
                                See NotificationID: <b>
                                    <font size=+2>{{nID}}</font>
                                </b>
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-4">User ID</dt>
                                <dd class="col-sm-8">{{data.by}}</dd>
                                <dt class="col-sm-4">Title</dt>
                                <dd class="col-sm-8">{{data.title}}</dd>
                                <dt class="col-sm-4">Discription</dt>
                                <dd class="col-sm-8">{{data.discription}}</dd>
                                <dt class="col-sm-4">Date & Time</dt>
                                <dd class="col-sm-8">{{data.time}}</dd>
                                <dt class="col-sm-4">To</dt>
                                <dd class="col-sm-8">{{data.to}}</dd>
                                <dd class="col-sm-12">
                                    <table id="example1" class="table table-hover text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>User Ids</th>
                                                <th>Msg</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            {% if data.ids %}
                                            {% for i  in data.ids  %}
                                            <tr>
                                                <td>{{i}}</td>
                                                <td>Done</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>User Ids</th>
                                                <th>Msg</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </dd>
                            </dl>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </section>
    </div>
    {% include "../includes/bottom.html" %}
</body>

</html>