
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TheProficiency | Add Coupon</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        function range(){
            console.log("Hello");
        }
    </script>
    {% include "../includes/top.html" %}

</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {% include "../includes/navBar.html" %}
        {% include "../includes/mainSlider.html" %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            {% if error %}
                            <div class="alert alert-danger">
                                <center>{{error}}</center>
                            </div>
                            {% endif %}
                            {% if data.success %}
                            <div class="alert alert-success">
                                <center>{{data.success}}</center>
                            </div>
                            {% endif %}
                            {% if data.info %}
                            <div class="alert alert-info">
                                <center>{{data.info}}</center>
                            </div>
                            {% endif %}
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Add Coupon</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form class="form-horizontal" id="plain" method='POST' 
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="div_id_ques" class="form-group required">
                        <legend for="id_ques" class="control-label col-md-4  requiredField"> File
                        </legend>
                        <div class="controls col-md-8 ">
                            <input type="file" name="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Msg</label>
                            <input type="text" class="form-control" name="msg" value="{{data.msg}}" maxlength="160"
                                placeholder="">
                        </div>
                         <!-- /.card-body -->
                         <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Add Coupon</button>
                        </div>
                        {% if url %}
                        <p>{{url}}</p>
                        {% endif %}
                    </div>
                </form>
                                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

    </div>
    <!-- ./wrapper -->
    {% include "../includes/bottom.html" %}
</body>

</html>