{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">ThePROFICIENCY</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{homeimage}}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{homename}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a href="/home" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Users
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/user/teacher" class="nav-link">
                                <i class="fas fa-chalkboard-teacher nav-icon"></i>
                                <p>View Teachers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/user/typer" class="nav-link">
                                <i class="far fa-keyboard nav-icon"></i>
                                <p>View Typers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/user/marketer" class="nav-link">
                                <i class="fas fa-user-friends nav-icon"></i>
                                <p>View Marketers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/user/addUser" class="nav-link">
                                <i class="fas fa-user-plus nav-icon"></i>
                                <p>Add Users</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Questions
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/question/viewQuestion" class="nav-link">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p>View Questions</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/question/addQuestion" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Add Questions</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Boards/Universities
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/academics/viewBU" class="nav-link">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p>View Boards/Universities</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/academics/addBU" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Add Boards/Universities</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            High Degree
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/academics/viewHD" class="nav-link">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p>View High Degree</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/academics/addHD" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Add High Degree</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Preparing For
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/academics/viewPrepFor" class="nav-link">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p>View Preparing For</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/academics/addPrepFor" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Add Preparing For</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Mainly
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/academics/viewMainly" class="nav-link">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p>View Mainly</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/academics/addMainly" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Add Mainly</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Subjects
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/academics/viewSubjects" class="nav-link">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p>View Subjects</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/academics/addSubject" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Add Subjects</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Topics
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/academics/viewTopics" class="nav-link">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p>View Topics</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/academics/addTopic" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Add Topics</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Daily Exams
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/exams/viewDaily" class="nav-link">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p>View Exam Timings</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/exams/addDaily" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Add Exam Timing</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            NLE Exams
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/exams/viewNLEs" class="nav-link">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p>View NLEs</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/exams/addNLE" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Add NLE</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/exams/addNLEQues" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Add NLE Questions</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Coupons
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/exams/viewCoupons" class="nav-link">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p>View Coupons</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/exams/addCoupon" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Add Coupon</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Edit Users
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/user/editteacher" class="nav-link">
                                <i class="fas fa-chalkboard-teacher nav-icon"></i>
                                <p>Edit Teachers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/user/edittyper" class="nav-link">
                                <i class="far fa-keyboard nav-icon"></i>
                                <p>Edit Typers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/user/editmarketer" class="nav-link">
                                <i class="fas fa-user-friends nav-icon"></i>
                                <p>Edit Marketers</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>