{% load static %}
{% if not isApp %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

    <a href="/" class="brand-link">
        <img src="https://firebasestorage.googleapis.com/v0/b/the-proficiency.appspot.com/o/logo%2FIcon%20Only%20Round.png?alt=media&token=877b2135-37c8-4ed5-9da8-64a0683f82e7" alt="TheProficiency Logo"
            class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light">ThePROFICIENCY</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{homeimage}}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{homename}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/home" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/teacher/viewQuestion" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Questions
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/teacher/rating" class="nav-link">
                        <i class="nav-icon fas fa-star"></i>
                        <p>
                            Rating
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/teacher/referal" class="nav-link">
                        <i class="nav-icon fas fa-share-alt"></i>
                        <p>
                            Refer
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/teacher/earning" class="nav-link">
                        <i class="nav-icon fas fa-wallet"></i>
                        <p>
                            Income
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/teacher/editProfile" class="nav-link">
                        <i class="nav-icon far fa-id-card"></i>
                        <p>
                            Profile
                        </p>
                    </a>
                </li>
                {% if subid %}
                <li class="nav-item">
                    <a href="/back" class="nav-link">
                        <i class="nav-icon far fa-id-card"></i>
                        <p>
                            Back
                        </p>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
{% endif %}