{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>View Referral Code</title>


    {% include "../includes/top.html" %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    {% include "../includes/mainSlider.html" %}
    {% include "../includes/navBar.html" %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">View Referral Code</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card card-primary collapsed-card">
                            <div class="card-header">
                                <h3 class="card-title">Type A ({{code.typea}})</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                            class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Transaction ID</th>
                                            <th>Earn</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for data in typeatrnc  %}
                                        <tr>
                                            <td>{{data.trnc}}</td>
                                            <td>{{data.earn}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Transaction ID</th>
                                            <th>Earn</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>





                        <div class="card card-success collapsed-card">
                            <div class="card-header">
                                <h3 class="card-title">Type B ({{code.typeb}})</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                            class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Transaction ID</th>
                                            <th>Earn</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for data in typebtrnc  %}
                                        <tr>
                                            <td>{{data.trnc}}</td>
                                            <td>{{data.earn}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Transaction ID</th>
                                            <th>Earn</th>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <div class="card card-danger collapsed-card">
                            <div class="card-header">
                                <h3 class="card-title">Type C ({{code.typec}})</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                            class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Transaction ID</th>
                                            <th>Earn</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for data in typectrnc  %}
                                        <tr>
                                            <td>{{data.trnc}}</td>
                                            <td>{{data.earn}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Transaction ID</th>
                                            <th>Earn</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>
            </div>
        </section>
    </div>
    
    {% include "../includes/bottom.html" %}
</body>

</html>