<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TheProficiency | Add User</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "../includes/top.html" %}

</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {% include "../includes/navBar.html" %}
        {% include "../includes/mainSlider.html" %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            {% if error %}
                            <div class="alert alert-danger">
                                <center>{{error}}</center>
                            </div>
                            {% endif %}
                            {% if success %}
                            <div class="alert alert-success">
                                <center>{{success}}</center>
                            </div>
                            {% endif %}
                            {% if info %}
                            <div class="alert alert-info">
                                <center>{{info}}</center>
                            </div>
                            {% endif %}
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Add New User</h3>
                                </div>
                                <!-- /.card-header -->



                                <!-- form start -->
                                <form action="/user/addUser" class="form-horizontal" method='POST'>
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">User Name</label>
                                            <input type="text" class="form-control" name="name" value="{{name}}"
                                                placeholder="eg. Rishi Sharma">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Phone Number</label>
                                            <input type="number" class="form-control" name="number" value="{{number}}"
                                                placeholder="eg. 77009XXXXX" maxlength="10">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" name="email" value="{{email}}"
                                                placeholder="eg. tp@tp.com">
                                        </div>
                                        <div class="form-group">
                                            <label for="customRange1">Age</label>
                                            <input type="range" min="16" max="50" value="{{age}}" id="age" name="age"
                                                class="custom-range custom-range-teal" id="customRange1">
                                            <p>Value: <span id="ageV"></span> Years</p>
                                            <script>
                                                var sliderA = document.getElementById("age");
                                                var outputA = document.getElementById("ageV");
                                                outputA.innerHTML = sliderA.value;
                                                sliderA.oninput = function () {
                                                    outputA.innerHTML = this.value;
                                                }
                                            </script>
                                        </div>
                                        <div class="form-group">
                                            <label for="customRange1">Experience</label>
                                            <input type="range" min="0" max="50" value="{{experience}}" id="experience"
                                                name="experience" class="custom-range" id="customRange1">
                                            <p>Value: <span id="experienceV"></span> Years</p>
                                            <script>
                                                var sliderE = document.getElementById("experience");
                                                var outputE = document.getElementById("experienceV");
                                                outputE.innerHTML = sliderA.value;
                                                sliderE.oninput = function () {
                                                    outputE.innerHTML = this.value;
                                                }
                                            </script>
                                        </div>
                                        <div class="form-group">
                                            <label>Gender</label>
                                            <select class="form-control" name="gen" style="width: 100%;">
                                                {% if gen == "Male" %}
                                                <option value="Male" selected>Male</option>
                                                <option value="Female">Female</option>
                                                {% endif %}
                                                {% if gen == "Female" %}
                                                <option value="Male">Male</option>
                                                <option value="Female" selected>Female</option>
                                                {% else %}
                                                <option selected disabled>Select Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>User Type</label>
                                            <select class="form-control select2" name="userType" style="width: 100%;">
                                                <option selected value="" disabled>Select Type</option>
                                                <option value="Admin">Admin</option>
                                                <option value="Teacher">Teacher</option>
                                                <option value="Typer">Typer</option>
                                                <option value="Marketer">Marketer</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>State</label>
                                            <select class="form-control select2" id="listBox"
                                                onchange='selct_district(this.value)' selected="{{s}}" name=s>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>User Type</label>
                                            <select class="form-control select2" id='secondlist' name=d>
                                                <option value="{{d}}">Select City First</option>
                                            </select>
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Add new User</button>
                                        </div>
                                </form>



                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

    </div>
    <!-- ./wrapper -->
    {% include "../includes/bottom.html" %}
</body>

</html>