<!DOCTYPE html>
<html>

<head>
    <title>Add a new Question</title>
    {% include "admin.html" %}

    
    <script>
        
        console.log('Hello');
         function select_topic($val) {
        
        var arr = {{topic|safe}}; 
        var options = '';
for(var i=0;i<arr[$val].length;i++)
        options+='<option value=' + i + '>' + arr[$val][i].name +'('+ arr[$val][i].id +')' + '</option>'
$('#topic').html(options);
            }
        
        
                (function ($) {
                    $(document).ready(function () {
                        $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                            event.preventDefault();
                            event.stopPropagation();
                            $(this).parent().siblings().removeClass('open');
                            $(this).parent().toggleClass('open');
                        });
                    });
                })(jQuery);
        
        
            </script>
</head>

<body onload="select_topic('a')">
            <div id="addProductBox" class="mainbox col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Add a new Question</div>
                    </div>
                    <div class="panel-body">
                        {% if data.error %}
                        <div class="alert alert-danger">
                            <center>{{data.error}}</center>
                        </div>
                        {% endif %}
                        {% if data.success %}
                        <div class="alert alert-success">
                            <center>{{data.success}}</center>
                        </div>
                        {% endif %}
                        <form class="form-horizontal" id="plain" method='POST' action = "/question/addQuestion">
                        {% csrf_token %}
                            <div id="div_id_ques" class="form-group required">
                                <legend for="id_ques" class="control-label col-md-4  requiredField"> Question
                                </legend>
                                <div class="controls col-md-8 ">
                                    <input class="input-md  textinput textInput form-control" id="id_ques" name="ques"
                                      value = "{{data.question}}"   placeholder="eg. 12th" type="text" />
                                </div>
                            </div>
                            <div id="div_id_opt1" class="form-group required">
                                <legend for="id_opt1" class="control-label col-md-4  requiredField"> Option 1
                                </legend>
                                <div class="controls col-md-8 ">
                                    <input class="input-md opt1input form-control" id="id_opt1" name="opt1"
                                        value = "{{data.opt1}}" placeholder="eg. 12th Class is basic" type="text" />
                                </div>
                            </div>
                            <div id="div_id_opt2" class="form-group required">
                                <legend for="id_opt2" class="control-label col-md-4  requiredField"> Option 2
                                </legend>
                                <div class="controls col-md-8 ">
                                    <input class="input-md opt2input form-control" id="id_opt2" name="opt2"
                                        value = "{{data.opt2}}" placeholder="eg. 12th Class is basic"  type="text" />
                                </div>
                            </div>
                            <div id="div_id_opt3" class="form-group required">
                                <legend for="id_opt3" class="control-label col-md-4  requiredField"> Option 3
                                </legend>
                                <div class="controls col-md-8 ">
                                    <input class="input-md opt3input form-control" id="id_opt3" name="opt3"
                                        placeholder="eg. 12th Class is basic" value = "{{data.opt3}}" type="text" />
                                </div>
                            </div>
                            <div id="div_id_opt4" class="form-group required">
                                <legend for="id_opt4" class="control-label col-md-4  requiredField"> Option 4
                                </legend>
                                <div class="controls col-md-8 ">
                                    <input class="input-md opt4input form-control" id="id_opt4" name="opt4"
                                        placeholder="eg. 12th Class is basic"  type="text"  value = "{{data.opt4}}">
                                </div>
                            </div>

                            <div id="div_id_optC" class="form-group required">
                                <legend for="id_optC" class="control-label col-md-4  requiredField"> Correct Option
                                </legend>
                                <div class="controls col-md-8 ">
                                    <select class="input-md optCinput form-control" id="id_optC" name="optC"
                                        selected="<%= body.optC %>">
                                        <option value="" disabled selected>Select Correct Option</option>
                                        <option value="opt1">Option 1</option>
                                        <option value="opt2">Option 2</option>
                                        <option value="opt3">Option 3</option>
                                        <option value="opt4">Option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div id="div_id_teacher" class="form-group required">
                                <legend for="id_teacher" class="control-label col-md-4  requiredField"> Teacher
                                </legend>
                                <div class="controls col-md-8 ">
                                    <select class="input-md teacherinput form-control" id="id_teacher" name="teacher"
                                        selected="<%= body.teacher %>">
                                        <option value="" disabled selected>select teacher</option>
                                        <option value="qBank">Question Bank</option>
                                        {% for teacher in teach %}
                                        <option value="{{teacher.tId}}">{{teacher.name}}({{teacher.tId}})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div id="div_id_subject" class="form-group required">
                                <legend for="id_subject" class="control-label col-md-4  requiredField"> Subject
                                </legend>
                                <div class="controls col-md-8 ">
                                    <select class="input-md subjectinput form-control" id="id_subject" name="subject" onchange="select_topic(this.value)"
                                        selected="<%= body.teacher %>">
                                        <option value="" disabled selected>Subject Type</option>
                                       
                                        {% for subj in subject  %}  
                                        
                                        <option value="{{subj.index}}">{{subj.name}}({{subj.id}})</option>
                                        {% endfor %}
                                        
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" name="result" value="{{subject}}">
                            <div id="div_id_topic" class="form-group required">
                                <legend for="id_topic" class="control-label col-md-4  requiredField"> Topic
                                </legend>
                                <div class="controls col-md-8 ">
                                    <select class="input-md subjectinput form-control" id="topic" name="topic" >
                                       
                                    <option value="" disabled selected>Question Type</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="aab controls col-md-4 "></div>
                                <div class="controls col-md-8 ">
                                    <input type="submit" name="addTopic" value="Add Topic"
                                        class="btn btn-primary btn btn-info" id="submit-id-addTopic" />
                                </div>
                            </div> 
                        </form>
                </div>
            </div>
        </div>
        <div class="mainbox col-md-7  col-sm-6 ">
            <iframe src="http://visualmatheditor.equatheque.net/VisualMathEditor.html" height="1000px" width=100%> </iframe>
        </div>
    

        


</body>
</html>