<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active" href="https://DsiteI.tech">
                    <font color="white">DHANDA Innovators</font>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="https://DsiteI.tech">Teachers<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/teacher/viewTeacher">View Teachers</a> </li>
                            <li>
                                <a href="/teacher/addTeacher">Add a New Teacher</a> </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="https://DsiteI.tech">Students<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://DsiteI.tech">View Students</a> </li>
                            <li>
                                <a href="https://DsiteI.tech">Add a New Students</a> </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Subjects
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/viewSubjects">View Subjects</a></li>
                            <li><a href="/addSubject">Add a Subject</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Exam Date
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/viewExamDates">View Exam Dates</a></li>
                            <li><a href="/addExamDates">Add Exam Date</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="https://DsiteI.tech">Question
                            Bank<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://DsiteI.tech">View Question Bank</a> </li>
                            <li>
                                <a href="https://DsiteI.tech">Add a New Question Bank</a> </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Updation in 4 Things
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Boards/University/Institute
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/viewBUI">View Board/University/Institute</a></li>
                                    <li><a href="/addBUI">Add a new Board/University/Institute</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    High Degree
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/viewHDegree">View High Degree</a></li>
                                    <li><a href="/addHDegree">Add a new High Degree</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Preparing For
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/viewPrepFor">View Preparing For</a></li>
                                    <li><a href="/addPrepFor">Add a new Preparing For</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://DsiteI.tech">Citywise</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><button class="btn btn-danger navbar-btn ">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Logout</button></a></li>
                </ul>
            </div>
        </div>
    </nav>