<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
{% if session == "14" %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active" href="https://DsiteI.tech">
                    <font color="white">DHANDA Innovators</font>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">      
                            <li><a href="/typer/viewquestion/1">View Question</a></li>
                            <li><a href="/question/addQuestion">Add a new Question</a></li>
                </ul>
                {% if session == '14' %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><button class="btn btn-danger navbar-btn ">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Logout</button></a></li>
                </ul>
                {% endif %}


        {% else %}

<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active" href="https://DsiteI.tech">
                    <font color="white">DHANDA Innovators</font>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">      
                            <li><a href="/typer/viewquestion/12">View Question</a></li>
                            <li><a href="/question/addQuestion">Add a new Question</a></li>
                </ul>
                {% if session == '14' %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><button class="btn btn-danger navbar-btn ">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Logout</button></a></li>
                </ul>
                {% endif %}

        {% endif %}
            </div>
        </div>
    </nav>