{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>View Teachers</title>


    {% include "./includes/top.html" %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    {% include "./includes/mainSlider.html" %}
    {% include "./includes/navBar.html" %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">View Teachers</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>By</th>
                                        <th>Approved</th>
                                        <th>See Question</th>
                                        <th>Edit Question</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {% if question %}
                                    {% for data in question  %}
                                    <tr>
                                        <td>{{data.id}}</td>
                                        <td>{{data.by}}</td>
                                        <td>{{data.approved}}</td>
                                        <td>
                                            <a href='/editQues/<%= sub%>-<%= data[i].id%>'> <button type="button"
                                                    class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-edit"></span> See
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href='/editQues/<%= sub%>-<%= data[i].id%>'> <button type="button"
                                                    class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>By</th>
                                        <th>Approved</th>
                                        <th>See Question</th>
                                        <th>Edit Question</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include "./includes/bottom.html" %}
</body>

</html>