{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>View Marketers</title>


    {% include "../includes/top.html" %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    {% include "../includes/mainSlider.html" %}
    {% include "../includes/navBar.html" %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">View Marketers</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>UID,TID</th>
                                        <th>Title</th>
                                        <th>Status</th>
                                        <th>DNT</th>
                                        <th>click</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {% if data %}
                                    {% for i in data  %}
                                    <tr>
                                        <td>{{i.UID}}/{{i.TID}}</td>
                                        <td>{{i.title}}</td>
                                        <td>{{i.status}}</td>
                                        <td>{{i.dnt}}</td>
                                        <td>
                                            <a href='/tickets/seeTicket?UID={{i.UID}}&TID={{i.TID}}'> <button type="button"
                                                    class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-edit"></span> click
                                                </button>                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>See</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>
            </div>
        </section>
    </div>
    {% include "../includes/bottom.html" %}
</body>

</html>