<!DOCTYPE html>
<html>

<head>
    <title>Add a new Question</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
        function select_mainly($val) {
            var arr = {{mainly| safe}};
            var date = {{value| safe}};
            console.log('=======')
        var options = '';
        for (var i = 0; i < arr[date.indexOf($val)].length; i++)
            options += '<option value=' + arr[date.indexOf($val)][i].value + '>' + arr[date.indexOf($val)][i].name + '(' + arr[date.indexOf($val)][i].value + ')' + '</option>'
        $('#topic').html(options);
            }
        (function ($) {
            $(document).ready(function () {
                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });
            });
        })(jQuery);


    </script>



    <script language="JavaScript">
        function maximizeme() {
            window.moveTo(0, 0);
            window.resizeTo(screen.width, screen.height)
        }
    </script>
</head>

<body onload="maximizeme()">
    <div id="addProductBox" class="mainbox col-md-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Add a new Question</div>
            </div>
            <div class="panel-body">
                {% if data.error %}
                <div class="alert alert-danger">
                    <center>{{data.error}}</center>
                </div>
                {% endif %}
                {% if data.success %}
                <div class="alert alert-success">
                    <center>{{data.success}}</center>
                </div>
                {% endif %}
                <form class="form-horizontal" id="plain" method='POST' action="/exams/addNLEQues">
                    {% csrf_token %}
                    <div id="div_id_ques" class="form-group required">
                        <legend for="id_ques" class="control-label col-md-4  requiredField"> Question
                        </legend>
                        <div class="controls col-md-8 ">
                            <input class="input-md  textinput textInput form-control" id="id_ques" name="ques"
                                value="{{data.question}}" placeholder="eg. 12th" type="text" />
                        </div>
                    </div>
                    <div id="div_id_opt1" class="form-group required">
                        <legend for="id_opt1" class="control-label col-md-4  requiredField"> Option 1
                        </legend>
                        <div class="controls col-md-8 ">
                            <input class="input-md opt1input form-control" id="id_opt1" name="opt1"
                                value="{{data.opt1}}" placeholder="eg. 12th Class is basic" type="text" />
                        </div>
                    </div>
                    <div id="div_id_opt2" class="form-group required">
                        <legend for="id_opt2" class="control-label col-md-4  requiredField"> Option 2
                        </legend>
                        <div class="controls col-md-8 ">
                            <input class="input-md opt2input form-control" id="id_opt2" name="opt2"
                                value="{{data.opt2}}" placeholder="eg. 12th Class is basic" type="text" />
                        </div>
                    </div>
                    <div id="div_id_opt3" class="form-group required">
                        <legend for="id_opt3" class="control-label col-md-4  requiredField"> Option 3
                        </legend>
                        <div class="controls col-md-8 ">
                            <input class="input-md opt3input form-control" id="id_opt3" name="opt3"
                                placeholder="eg. 12th Class is basic" value="{{data.opt3}}" type="text" />
                        </div>
                    </div>
                    <div id="div_id_opt4" class="form-group required">
                        <legend for="id_opt4" class="control-label col-md-4  requiredField"> Option 4
                        </legend>
                        <div class="controls col-md-8 ">
                            <input class="input-md opt4input form-control" id="id_opt4" name="opt4"
                                placeholder="eg. 12th Class is basic" type="text" value="{{data.opt4}}">
                        </div>
                    </div>

                    <div id="div_id_optC" class="form-group required">
                        <legend for="id_optC" class="control-label col-md-4  requiredField"> Select NLE Exam Date
                        </legend>
                        <div class="controls col-md-8 ">
                            <select class="input-md optCinput form-control" id="id_optC" name="NLE"
                                 onchange="select_mainly(this.value)">
                                <option value="" disabled selected>Select NLE Exam Date</option>
                                {% for d in date  %}
                                <option value="{{d.value}}">{{d.date}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div id="div_id_topic" class="form-group required">
                        <legend for="id_topic" class="control-label col-md-4  requiredField"> Mainly
                        </legend>
                        <div class="controls col-md-8 ">
                            <select class="input-md subjectinput form-control" id="topic" name="mainly">

                                <option value="" disabled selected>Mainly Type</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="aab controls col-md-4 "></div>
                        <div class="controls col-md-8 ">
                            <input type="submit" name="addTopic" value="Add Question" class="btn btn-primary btn btn-info"
                                id="submit-id-addTopic" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="mainbox col-md-7  col-sm-6 ">
        <iframe src="http://visualmatheditor.equatheque.net/VisualMathEditor.html" height="1000px" width=100%> </iframe>
    </div>





</body>

</html>